body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.recipe-modal {
  position: absolute; 
  top: 40px; 
  left: 40px; 
  right: 40px; 
  bottom: 40px; 
  border: 1px solid rgb(204, 204, 204); 
  background: rgb(255, 255, 255); 
  overflow: auto; 
  border-radius: 10px; 
  outline: none; 
  padding: 20px;
  margin: auto;
  width: 50%;
  height: 70%;
}
